[project]
	description = servo controlle based on STM32F072B-DISCO evb
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lukasz-kaczmarczyk
[access "refs/for/refs/*"]
	read = group user/lukasz-kaczmarczyk
	push = group user/lukasz-kaczmarczyk
	label-Code-Review = -2..+2 group user/lukasz-kaczmarczyk
	label-Verified = -1..+1 group user/lukasz-kaczmarczyk
	rebase = group user/lukasz-kaczmarczyk
	removeReviewer = group user/lukasz-kaczmarczyk
	submit = group user/lukasz-kaczmarczyk
[access "refs/heads/*"]
	read = group user/lukasz-kaczmarczyk
	create = group user/lukasz-kaczmarczyk
	push = +force group user/lukasz-kaczmarczyk
	pushMerge = group user/lukasz-kaczmarczyk
[access "refs/tags/*"]
	push = group user/lukasz-kaczmarczyk
	push = +force group user/lukasz-kaczmarczyk
